<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MovieController">
    
    <link rel="stylesheet" ng-href="bootstrap.min.css">
    <link rel="stylesheet" ng-href="style.css">
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Vie Browser - {{details.Title}}</title>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading">
                    <h1>Welcome to <span style="color:#337ab7">Vie Browser</span></h1> 
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 a1"> Search for your favourite movie</div>
            </div>
            <div class="row space">
                <div class="col-md-8">
                    <p><input type="text" ng-keyup="$event.keyCode == 13 ? search = moviename : null" ng-model="moviename" ng-click="select($event)" class="form-control" size="25" placeholder="Eg: Shawshank Redemption" autofocus /></p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-style" ng-click="search = moviename">Search</button>
                </div>
            </div>
            <div class="row space">
                <div ng-include="'info/info.html'" ></div>
                <div ng-include="'info/related.html'" class="space col-md-4"></div>
            </div>
            <script src="js/angular.min.js"></script>
            <script src="js/app.js"></script>
        </div>
    </body>
</html>