<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details.Response==='True'">
  <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster">
  <p>Title : {{ details.Title }}</p>
  <p>Year : {{ details.Year }}</p>
  <p>Released : {{ details.Released }}</p>
  <p>Runtime : {{ details.Runtime }}</p>
  <p>Plot : {{ details.Plot }}</p>
  <p>Director : {{ details.Director }}</p>
  <p>Actors : {{ details.Actors }}</p>
  <p>Genre : {{ details.Genre }}</p>
  <p>IMDB : {{ details.imdbRating }}</p>
</div>

<div ng-if="details.Response==='False'">
  No results found.
</div>
